.hamburger {
  display: none;
}

header {
  position: fixed;
  /* width: min(var(--max-width), 95%); */
  width: 100%;
  padding-inline: 4rem;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 2rem; */
  z-index: 99;
  backdrop-filter: blur(0.5rem);
}

header h2 {
  /* width: 50rem; */
  font-family: var(--font-secondary);
  cursor: pointer;
  color: var(--primary);
}

header nav {
  display: flex;
  gap: 30px;
  text-transform: capitalize;
  font-family: var(--font-secondary);
}

header nav a:hover {
  text-shadow: var(--text-shadow);
}

@media (max-width: 768px) {
  header {
    padding-inline: 2.5rem;
  }

  header nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: min(75vw, 400px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: var(--transition);
  }

  header nav.active {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    height: 40px;
    width: 40px;
    padding: 0.2rem;
    cursor: pointer;
    z-index: 999;
  }

  .hamburger .line,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    border-radius: 999px;
    background-color: var(--primary);
    margin: 6px 0;
    margin-left: auto;
    transition: var(--transition);
  }

  .hamburger::before {
    width: 100%;
  }

  .hamburger::after {
    width: 70%;
  }

  .hamburger.active::before {
    transform: rotate(-45deg) translate(-7px, 8px);
    width: 100%;
  }

  .hamburger.active .line {
    transform: translateX(-30px);
    opacity: 0;
  }

  .hamburger.active::after {
    transform: rotate(45deg) translate(-5px, -6px);
    width: 100%;
  }
}
