#socials {
  position: fixed;
  /* bottom: calc(50vh - var(--nav-height)); */
  bottom: 0;
  left: 4rem;
  z-index: 10;
  color: var(--light-slate);
}

#socials ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#socials ul::after {
  content: "";
  width: 1px;
  /* height: 50vh; */
  height: 90px;
  background-color: var(--slate);
}

#socials ul a {
  padding: 1rem;
  transition: var(--transition);
  display: flex;
}

#socials ul a:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

#socials ul a svg {
  width: 20px;
  height: 20px;
}

#email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  z-index: 10;
  color: var(--light-slate);
}

#email .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#email .left::after {
  content: "";
  width: 1px;
  /* height: 50vh; */
  height: 90px;
  background-color: var(--slate);
}

#email .left a {
  padding: 1rem;
  transition: var(--transition);
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 2px;
  font-size: var(--fz-xs);
  /* font-family: var(--font-secondary); */
  text-transform: uppercase;
}

#email .left a:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  #socials,
  #email {
    display: none;
  }
}
